*{
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr ; */
    grid-template-columns: repeat(4,1fr) ;
    gap: 5px;

}
.grid-item{
    font-size: 40px;
    border: 1px solid #ccc;
    padding: 50px;
    background-color: orange;
}
