* {
  scroll-behavior: smooth;
}
#head-bar {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  margin-left: 60px;
  margin-right: 60px;
}
#introduction{
  display: block;
}
.logo a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: rgba(44, 62, 195, 0.877);
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}
.bar-icon a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: rgba(15, 14, 14, 0.897);
}
.background-img {
  position: absolute;
  /* box-sizing: content-box; */
  top: 250px;
}
.avatar { 
  display: flex;
  position: relative;
  left: 20px;
  /* background-color: white; */
  top: 100px;
}
.ava-img{
  top: -40px;
  position: relative;
  left: 150px;
}
.ava-text {
  position: absolute;
  width: 600px;
  height: fit-content;
  left: 20%;
  top: 70%;
}
.contact-icon {
  display: flex;
  /* justify-content: space-between; */
}
.contact-icon i {
  margin-left: 10px;
}

.PR-1{
  display: block;
}
