/* * {
  margin: 0;
  padding: 0;
} */
*{
  scroll-behavior: smooth;
}

.all-content {
  margin: 0px 12px;
}
.all-content,
title {
  background-color: rgb(249, 251, 252);
}
.headbar {
  display: flex;
  justify-content: space-between;
}
.headbar-title a:hover {
  background-color: rgba(27, 71, 174, 0.642);
  color: white;
}
.headbar-title a {
  margin-left: 20px;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.mainlist{
  margin-left: 40%;
  font-size: 20px;
}
.mainlist a{
  text-decoration: none;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title {
  background-color: rgba(27, 71, 174, 0.642);
  text-align: center;
  margin-bottom: 0px;
  padding: 0px;
}
.center-text {
  text-align: center;
  color: rgb(31, 31, 134);
}
.linkyt-SA,
.linkyt-HMC,
.linkyt-GOF {
  padding-right: 15px;
}
.SA-p {
  margin-right: 25px;
}
.pace {
  display: flex;
  background-color: transparent;
  padding-block: 35px;
  margin: 20px 20px;
}
.image {
  text-align: center;
}
.main-SA{
  display: flex;
}
.Haku, .Chihiro, .No-Face{
  width:500px;
  margin:0px 25px 0px 0px;
}

